{% extends 'base.html' %}
{% block title %}
{{ post1.post_title }}
{% endblock %}
{% block stylesheet %}
{% endblock %}

<!--  Author  এর প্রোফাইল ব্লক ।  যিনি পোষ্ট লিখবেন এখানে তার বিস্তারিত থাকবে -->
{% block profile %}
<div class="fh5co-bio">
			<figure>
				<img src="{{ post1.post_author.auth_image.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive"><!-- post মডেলে post_author নামে ফরেইন কী এর মধ্যমে author এর  ছবি নিয়ে এসেছি -->
			</figure>
			<h1 class="heading">About Me</h1>
			<h2>{{ post1.post_author.auth_name }}</h2> <!-- post মডেলে post_author নামে ফরেইন কী এর মধ্যমে author এর নাম নিয়ে এসেছি -->
            <h4>{{ post1.post_author.auth_name.email }}</h4><!--  একই রকমভাবে author এর  ইমেইল নিয়ে এসেছি -->
			<p>{{ post1.post_author.auth_details }}</p><!--  একই রকমভাবে author এর ডিটেইল নিয়ে এসেছি -->
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-linkedin"></i></a></li>
				<li><a href="#"><i class="icon-youtube"></i></a></li>
			</ul>
		</div>
{% endblock %}

{% block content %}
	{% if post1.id > first.id %} <!--  যদি  পোষ্ট আইডিটি  যদি প্রথম আইডি থেকে  বড় হয় তবে prev  বাটন  শো করবে -->
		<a href="{% url 'blog:post_detail' id=post1.id|add:-1 %}" class="fh5co-post-prev"> <!--  এখানে url এ add:-1  দিয়েছি যাতে বর্তমান পোষ্ট আইডি থেকে ১ বিয়োগ করে পেছনের পোষ্ট দেখাবে -->
			<span><i class="icon-chevron-left"></i> Prev</span>
		</a>
	{% endif %}
	{% if post1.id < last.id %} <!--  আর যদি  পোষ্ট আইডিটি শেষ আইডি থেকে ছোট হয় তবে next  বাটন  শো করবে -->
		<a href="{% url 'blog:post_detail' id=post1.id|add:1 %}" class="fh5co-post-next"> <!--  এখানে url এ add:1  দিয়েছি যাতে বর্তমান পোষ্ট আইডি থেকে ১ যোগ করে  সামনের পোষ্ট দেখাবে -->
			<span>Next <i class="icon-chevron-right"></i></span>
		</a>
	{% endif %}
<div class="container-fluid">
		<div class="row fh5co-post-entry single-entry">
			<article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
				<figure class="animate-box">
					<img src="{{ post1.post_image.url }}" alt="Image" class="img-responsive">
				</figure>
				<span class="fh5co-meta animate-box">
					<a href="{% url 'blog:category' name=post1.post_category.name %}">{{ post1.post_category.name }}</a><!-- post মডেলে post_category নামে ফরেইন কী এর মধ্যমে category এর নাম নিয়ে এসেছি -->
				</span>
				<h2 class="fh5co-article-title animate-box">{{ post1.post_title }}</h2><!-- post মডেলে এর post এর  টাইটেল নিয়ে এসেছি -->
				<span class="fh5co-meta fh5co-date animate-box">{{ post1.posted_on }}</span><!-- post মডেলে এর post এর টাইম নিয়ে এসেছি -->

				<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
					<div class="row">
						<div class="col-lg-12 cp-r animate-box">
                            <p style="text-align: justify">{{ post1.post_body }}</p><!-- post মডেলে এর post এর  পুরো বডি  মানে  পোস্টের  বিস্তারিত নিয়ে এসেছি -->
						</div>

					</div>

				</div>
				<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
				<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
			</article>
		</div>
		<div class="container">
			<h3 class="well" style="background-color: #fb4f59">Related Post</h3>
		<div class="row">
			{% for r in related %}
			<div class="col-md-3">
				<figure class="animate-box">
					<a href="{% url 'blog:post_detail' id=r.id %}"><img src="{{ r.post_image.url }}" alt="Image" class="img-responsive"></a>
					<a href="{% url 'blog:post_detail' id=r.id %}"><h2 class="fh5co-article-title animate-box">{{ r.post_title }}</h2></a>
					<p style="text-align: justify">{{ r.post_body|truncatewords:15 }}</p>
				</figure>

			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

<!-- -->